#canvas1{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  pointer-events: none;
}
body{
  width: 100%;
  position:relative;
  font-size: xx-large;
}
#background{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.3;
  z-index: -1;
  background-image: url('e.png');
  background-size:100%;
  transition: 1000ms;
}
#main{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 5%;
  transition: 1500ms;
}
  #logo{
      font-weight: 1000;
      font-size: 400%;
      width: 800px;
      height: 300px;
      line-height:300px;
      background:linear-gradient(150deg,rgb(255, 161, 19),rgba(255, 30, 244, 0.425),rgb(0, 251, 255));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      margin-left: 2%;
  }
  #actiontext{
    width: 400px;
    position: absolute;
    left: 5%;
  }
  #time{
    position: absolute;
    top: 10%;
    right: 5%;
    color: rgb(255, 255, 255);
    font-size: x-large;
  }
  #explore{
    width: 200px;
    height: 70px;
    border: none;
    position: absolute;
    right: 20%;
    bottom:20%;
    transform: translate(50%,50%);
    border-radius: 40px;
    background-color: rgba(0, 136, 255, 0.674);
    box-shadow: 0 0 5px black;
    font-size: xx-large;
    transition: 100ms;
    background: linear-gradient(140deg,rgba(255, 166, 0, 0.581),rgba(242, 0, 255, 0.236),rgba(0, 225, 255, 0.581));
  }
  #explore:hover{
    width: 210px;
    height: 75px;
  }
  #explore:active{
    width: 200px;
    height: 65px;
  }
  section{
    width: 100%;
    position: relative;
    height: 0;
    overflow:hidden;
    opacity: 0;
    transition: 2000ms;
  }
  section div{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.193);
  }
  .block::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    z-index: -1;
    opacity:1;
    background-size: cover;
  }
  #intro{
    color: white;
    font-size: 200%;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  #intro::before{
    background-image: url('mount.jpg');
  }
  #bangbang::before{
    background-image: url('f.jpg');
  }
  #huangye::before{
    background-image: url('c.jpg');
  }
  #white::before{
    background-image: url('d.webp');
  }

