canvas{
    border: 1px solid black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
}
#information{
    position: fixed;
    width: 300px;
    height: 100px;
    display: grid;
    background-color: rgb(0, 123, 255);
    color: white;
    font-size: large;
    border-radius: 2px;
    z-index: 3;
}