/* 基本样式 */
body {
    font-family: Arial, sans-serif;
  }
  .top-area{
    position: relative;
    display: flex;
    width: 100%;
    height: 350px;
    background-image: url('../image/6.jpg');
    background-size: cover;
    font-size: xx-large;
    font-weight: 1000;
    border-bottom: 2px solid grey;
  }

  .second-part{
    width: 100%;
    height: 400px;
  }
  .introdution{
    width: 30%;
    height: 50px;
    margin: 10px auto;
    border-bottom: 1px solid #6b6b6b;
    text-align: center;
    padding-top: 40px;
    font-size: xx-large;
  }
  .introbutton-area{
    display: grid;
    width: 100%;
    height: 200px;
    grid-template-columns: repeat(2,1fr);
  }
  .introbutton-button{
    width: 450px;
    height: 200px;
    margin: 30px auto;

    background-color: #f4f4f4;
    box-shadow: 0 0 5px #6b6b6b;
    color: black;
    display: flex;
    overflow: hidden;
    text-decoration: none;
  }
  .introbutton-button:hover{
    width: 460px;
    height: 210px;
    
  }
  .button-left{
    width: 55%;
    height: 100%;
    text-align: center;
  }
  .laoin{
    width: 50%;
    margin: 0 auto;
    height: 40px;
    font-weight: 700;
    text-align: center;
    font-size:x-large;
    color: #2e2e2e;
    border-bottom:1px solid black;
    border-color: #c57300;
  }
  .sim-intro{
    margin: 0 auto;
    width: 180px;
    height: 100px;
    font-weight: 400;
    color: #4a4a4a;
  }
  .r-top{
    width: 100%;
    height: 115px;
    display: grid;
    text-align: center;
  }
  .r-head{
    font-weight: 700;
    font-size:x-large;
    width: 100%;
    height: 40px;
  }
  .r-top-text{
    height: 110px;
    width: 260px;
    font-weight: 400;
    color: #4a4a4a;
    margin: 0 auto;
  }
  .r-bottom{
    text-align: center;
    width: 50%;
    height: 40px;
    background-image: url("../image/r-bottom.png");
    background-size: cover;
    margin: 0 auto;
  }
.imagestore{
  width: 30%;
  height: 50px;
  margin: 10px auto;
  border-bottom: 1px solid #6b6b6b;
  text-align: center;
  padding-top: 40px;
  font-size: xx-large;
}
.third-part{
  margin: 0 auto;
  width: inherit;
  height: 500;
  display: flex;
}
  .imgarea{
    margin-top: 10px;
    margin-left: 30px;
    width: 600px;
    height:450px;
    background-image: url('../image/together.jpg');
    background-size:cover;
  }
  .imgarea1{
    width: 626px;
    height:470px;
    background-image: url('../image/together1.jpg');
    background-size:cover;
  }
  .learnmore{
    width: 20px;
    height: 500px;
    margin-left: 30px;
    writing-mode: vertical-lr;
    text-align: center;
    font-size: x-large;
    font-family: 'KaiTi';
    color: #6b6b6b;
  }
